<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .gap {
            margin: 12px;

        }
    </style>
</head>
<body>
    
    <h1>Student Register Form</h1> 
    <form action="/submit", method="post">
        
        <div class="gap">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name">
        </div>
        
        <div class="gap">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email">
        </div>

        <div class="gap">
            <label for="contact">Contact:</label>
            <input type="text" id="contact" name="contact">
        </div>

        <input type="submit" value="Submit" id="Submit_registration">
    
    </form>




</body>
</html>